html, body {
  margin: 0;
  height: 100%;
  box-sizing: border-box;
  background-color: #FFFDF7;
  display: block;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #134455;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;

}

ul li {
    float: inherit;
    border-right: 1px solid #bbbbbb;
}

ul li:last-child {
    border-right: none;
}

ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
    font-size: 19px;

}

ul li a:hover {
    background-color: #F46197;
    color: black;
    font-size: 24px;
}

h1 {
    text-align: center;
    color: #F46197;
    font-size: 45px;
    padding-top: 20px;

}
p{
    text-align: justify;
    margin: 30px; 
}
label{
    margin-left: 20px;
    line-height: 1.5;
}
textarea {
    padding: 10px;
    margin-left: 20px;
}

.container {
    
    width:55%;
    margin: auto;
    border: 5px solid #F46197;
    background: radial-gradient(#FFFDF7, #84e8c8, #faafc7);
    display: flex;
    flex-grow: 1;
}



.phone {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    width: 70%;
}

.foot {
    position: fixed;
    bottom: 0;
    display: block;
    text-align: center;
    width: 100%;
    background-color: #134455;
    color: white;

}