html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    background-color: #FFFDF7;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #134455;
    display: flex;
    justify-content: center;
    top: 0;
    width: 100%;
}

ul li {
    float: center;
    border-right: 1px solid #bbbbbb;
}

ul li:last-child {
    border-right: none;
}

ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
    font-size: 19px;

}

ul li a:hover {
    background-color: #F46197;
    color: black;
    font-size: 24px;
}

.contain1 {
    background-color: #faafc73b;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

.rows {
    width: 50%;
    padding: 30px;
}


.foot {
    position: fixed;
    bottom: 0;
    display: block;
    text-align: center;
    width: 100%;
    background-color: #134455;
    color: white;
    padding-top: 15px;
}