html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    background-color: #FFFDF7;
    
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #134455;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;

}

ul li {
    float: center;
    border-right: 1px solid #bbbbbb;
}

ul li:last-child {
    border-right: none;
}

ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
    font-size: 19px;

}

ul li a:hover {
    background-color: #F46197;
    color: black;
    font-size: 24px;

}

.container {
    height: 100%;
    width: 100%
    
}


.hero {
   
    margin-top: 100px;
    display: flex;
    justify-content: space-between;

}

.gym {
    border: 4px solid black;

}

.content {
    text-align: center;
}

h1 {
    color: #134455;
    font-size: 60px;
}

#join {
    background-color: #134455;
    color: white;
    font-size: 13px;
    text-decoration: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
    padding: 10px;
   

}

a {
    text-decoration: none;
}


.sub {
    margin-top: 40px;
    margin-left: 80px;
    margin-bottom: 20px;
    margin-right: 80px;
    border: 2px solid black;
    background-color: #F46197;
    padding-left: 15px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 1.2em;
    
}
input::placeholder {
    font-size: 1.2em;
    text-align: center;

    
}

.subscribe {
    text-align: center;
    color: white;
}

.foot {
    position: fixed;
    bottom: 0; 
    display: block;
    text-align: center;
    width: 100%;
    background-color:#134455;
    color: white;
    
}
