html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    background-color: 7F96FF;  
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
.container {
    height: 100%;
}
.hero {
    width: 100%;
    margin-top: 5%;
    padding: 20px;
}
#hero1 {
    width: 40%;
    border-radius: 35px;
    border-color: darkgrey;
    
}
.content {
    text-align: center;
}