html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    background-color: 7F96FF;  
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
.container {
    height: 100%;
}

.hero {
    width: 100%;
    margin-top: 60px;
    
}
.gym {
   border: 10px solid #D81E5B;
}

.content {
    text-align: center;
}